<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online compiler</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/result.css}" rel="stylesheet">
</head>
<body>
<div id="main-container" class="container">
    <div class="row col-md-6 offset-md-3 d-flex justify-content-center mt-3">
        <span class="header">Welcome to the Java online compiler!</span>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 input">
            <span class="subheader">Put your code here:</span>
            <form id="main-form" class="mt-2">
                <div>
                    <textarea id="code-example" class="d-none">import java.util.Scanner;

public class Test {
    public static void main(String[] args) throws Exception {
        final var scanner = new Scanner(System.in);
        final var a = scanner.nextInt();
        final var b = scanner.nextInt();
        final var operation = scanner.next();
        scanner.close();
        switch(operation) {
            case "+":
                System.out.print("Sum result is: " + (a + b));
                break;
            case "-":
                System.out.print("Minus result is: " + (a - b));
                break;
            case "*":
                System.out.print("Multiplication result is: " + (a * b));
                break;
            case "/":
                System.out.print("Division result is: " + (a / (float) b));
                break;
            default:
                System.out.print("Wrong operation!");
        }
    }
}</textarea>
                    <div id="editor"></div>
                    <input id="code" type="text" name="code" style="display: none;">
                </div>
                <div class="input-params mt-2">
                    <textarea name="inputParams" cols="100" rows="3" placeholder="Put here input params..."></textarea>
                </div>
                <div class="button d-flex justify-content-center mt-4">
                    <input id="submit-btn" type="button" class="btn btn-dark" value="Compile">
                </div>
            </form>
        </div>
        <div class="col-md-4 output">
            <span>Compilation result:</span>
            <div class="output-code mt-2">
                <div class="d-flex justify-content-start">
                    <div class="arrow">&nbsp;>&nbsp;&nbsp;</div>
                    <div class="d-none compiling-message-process">Compiling your code...</div>
                    <div class="d-none compiling-message-result">Compilation result:</div>
                </div>
                <div id="compile-output" class="code-area"></div>
            </div>
        </div>
    </div>
</div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/ace.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/theme-monokai.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/mode-java.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/ext-beautify.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/custom.js}" type="text/javascript"></script>
</body>
</html>
